.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-width: 65% !important;
  width: 65%;
  margin: 0 auto;
  margin-top: -2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder !important;
}

.review {
  width: 80%;
  text-align: center;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.img-section {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 2.5rem;
}

img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
}
.name {
  text-transform: capitalize;
}
p {
  font-size: medium;
}
.job {
  color: rgb(30, 90, 255);
  text-transform: uppercase;
}
.fa-arrow-alt-circle-left,
.fa-arrow-alt-circle-right {
  color: dodgerblue;
  margin: 5px;
}

button {
  border: none;
}

button:hover > .svg-inline--fa {
  color: #6d58a6;
}

.btn-primary {
  background: none !important;
  color: dodgerblue !important;
  font-weight: bolder !important;
  border: none !important;
  font-size: small !important;
}

.btn-primary:hover {
  background-color: dodgerblue !important;
  color: white !important;
}
